head
  script(type='text/javascript', src='/javascripts/view.js')

div
  h1= title
  p Welcome to #{title}
  
  p socket id: 
    span#socketId
  p connect all count: 
    span#connectAllCount
  p connect view count: 
    span#connectViewCount

div    
  hr
  span#storeList